[Unit]
Description=ProxLB - A loadbalancer for Proxmox clusters
After=network-online.target pveproxy.service
Wants=network-online.target pveproxy.service

[Service]
ExecStart=python3 /usr/lib/python3/dist-packages/proxlb/main.py -c /etc/proxlb/proxlb.yaml
User=plb
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
