[Unit]
Description=ProxLB - A load balancer for Proxmox clusters
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=python3 /usr/lib/python3/dist-packages/proxlb/main.py -c /etc/proxlb/proxlb.yaml
User=proxlb

[Install]
WantedBy=multi-user.target
