[Unit]
Description=ProxLB - A loadbalancer for Proxmox clusters
After=pveproxy.service
Wants=pveproxy.service

[Service]
ExecStart=python3 /usr/lib/python3/dist-packages/proxlb/main.py -c /etc/proxlb/proxlb.yaml
User=plb

[Install]
WantedBy=multi-user.target