[Unit]
Description=ProxLB - Rebalance VM workloads
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/proxlb -c /etc/proxlb/proxlb.conf
User=plb

[Install]
WantedBy=multi-user.target
