name: Code linting
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup dependencies for code linting
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install additional dependencies for code linting
        run: |
          apt-get update
          apt-get -y install python3-pycodestyle pycodestyle
      - name: Run code linting on ProxLB Python code
        run: |
          pycodestyle proxlb/*